registry=https://registry.npmmirror.com/
cache=/vol1/@appdata/deepseek.harness/home/MyHA/.npmcache
store-dir=/vol1/@appdata/deepseek.harness/home/MyHA/.pnpm-store
cache-dir=/vol1/@appdata/deepseek.harness/home/MyHA/.pnpm-cache
state-dir=/vol1/@appdata/deepseek.harness/home/MyHA/.pnpm-state
